#ignore config files


#ignore any images

#ignore node modules
node_modules

#ignore any logs
*.log

#ignore the library files
lib

#ignore specific files
js/OLD_Controllers.js

#hidden files
.eslintrc.json