<div ng-controller="AccountSettingsController as anAccount">
	This is the {{ anAccount.name }} page

	<h3>User Profile</h3>

	<div>
		<h4>Biographic Information</h4>
		<label for="firstName">First Name:
			<input type="text" placeholder="John, Jane, etc.." ng-model="bio.firstname"/>
		</label>
		<label for="lastName">Last Name:
			<input type="text" placeholder="Doe, Smith, etc..." ng-model="bio.lastName"/>
		</label>
	</div>
	<div>
		<h4>Contact Information</h4>
		<label for="email">E-Maill:
			<input type="text" placeholder="Joe@gmail.com" ng-model="contact.email"/>
		</label>
	</div>

	<button class="btn btn-primary" ng-click="">Save Information</button>
</div>