<div class="container-fluid" ng-controller='LandingPageController as recruitUsers'>
	<!--Greet users-->
	<div class="row" id='userGreeting'>
		<div class="col-xs-12 col-sm-12">
			<h3>Have Fun. Schedule Your Events. Make Memories.</h3>
		</div>
	</div>
	<!--Encourage them to Create an account OR Login-->
	<div class="row">
		<div class="col-xs-12 col-sm-12 btn btn-info btn-lg" style='margin-top: 20px;'>Create An Account</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 btn btn-primary btn-lg" style='margin-top: 35px;'>Login</div>
	</div>
</div>