<div class="container-fluid" ng-controller='LandingPageController as recruitUsers'>
	<!--Greet users-->
	<div class="row" id='userGreeting'>
		<div class="col-xs-12 col-sm-12">
			<h3>Have Fun. Schedule Your Events. Make Memories.</h3>
		</div>
	</div>
	<!--Encourage them to Create an account OR Login-->
	<div class="row">
		<div class="col-xs-5 col-sm-5">
			<h4 class='landingCallToAction'>Create An Account</h4>
		</div>
		<div class="col-xs-2 col-sm-2">
			<h3>OR</h3>
		</div>
		<div class="col-xs-5 col-sm-5">
			<h4 class='landingCallToAction pull-right'>Login</h4>
		</div>
	</div>
</div>