<div id='newUserBox' ng-controller='NewUserSignUpController as recruitUsers'>
	<!--Create a New User account-->
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<a class='pull-right' id='haveAnAccount' href="#/login">Already have an account?</a>
			<h4>Create an Account</h4>
			<p>It's easy, just sign up here!</p>
			<p>*Required fields</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<span ng-if="recruitUsers.errors.name != ''" class="label label-danger">error: {{recruitUsers.errors.name}}</span>
			<label for='newName' ng-style='recruitUsers.validNewName.style'>Your Name*:
				<input 	name='newName' 
						autofocus
						autocomplete="on" 
						type="text" 
						class='col-xs-12 col-sm-12 col-md-12 inputText' 
						id='newName' 
						ng-model='recruitUsers.inputs.newName' 
						ng-keyup='recruitUsers.checkNewName()'
						ng-blur='recruitUsers.checkNewName()'  
						required autocomplete="name"  
						ng-change='recruitUsers.update()' 
						placeholder='e.g. Hugh Jackman' 
						>
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<span ng-if="recruitUsers.errors.email != ''" class="label label-danger">error: {{recruitUsers.errors.email}}</span>
			<label for='newEmail' ng-style='recruitUsers.validNewEmail.style'>Email*:
				<input 	name='newEmail' 
						type="email"
						autocomplete="on"  
						class='col-xs-12 col-sm-12 col-md-12 inputText' 
						id='newEmail' 
						ng-model='recruitUsers.inputs.newEmail' 
						ng-keyup='recruitUsers.checkNewEmail()'
						ng-blur='recruitUsers.checkNewEmail()' 
						required autocomplete="email"  
						ng-change='recruitUsers.update()' 
						placeholder='e.g. hugh.jackman@gmail.com'>
			</label>
		</div>
	</div>		
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<span ng-if="recruitUsers.errors.password != ''" class="label label-danger">error: {{recruitUsers.errors.password}}</span>
			<label for='newPassword' ng-style='recruitUsers.securePassword.style'>Password*:
				<input 	name='newPassword'
						type="password"
						autocomplete="on" 
						class='col-xs-12 col-sm-12 col-md-12 inputText' 
						id='newPassword' 
						ng-model='recruitUsers.inputs.newPassword' 
						ng-focus='recruitUsers.displayPassReqs()' 
						ng-keyup='recruitUsers.checkNewPassword()' 
						ng-blur='recruitUsers.checkNewPassword()'
						placeholder='**********'>
			</label>
			<!--
			<div ng-if='recruitUsers.showRequirnments' id="passReqs">
				<strong>PASSWORD REQUIRNMENTS</strong>
				<ul>
					<li 	ng-repeat="requirnment in recruitUsers.passwordRequirnments" 
							value='{{ requirnment.constraint }}' 
							ng-style='requirnment.style'>
								{{ requirnment.constraint }}</li>
				</ul>
			</div> <br>-->
		</div>
	</div>		
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<label for='newSubmit'>
				<input 	name='newSubmit' 
						ng-if='recruitUsers.errors.passesAllTests && recruitUsers.inputs.allFieldsDefined'
						class='col-xs-12 col-sm-12 btn btn-primary' 
						id='newSubmit' 
						type="submit" 
						value='Create User Account' 
						ng-click='recruitUsers.createNewUser()' 
						ng-touch='recruitUsers.createNewUser()'>
			</label>
		</div>
	</div>
</div>
