<div ng-controller="NewVisitorConversionsController as pitchDeck">
	This is the {{ pitchDeck.name }} page

	<!--section 1: Header & Hero Image -->
	<h3>This is the landing Page {{ title }}</h3>

	<!--section 2: Call To action - Login or Create an Account -->
	<div>
		<h3>Login or Create an Account</h3>
		<form action="post">
			<label for="userEmail">Username
				<input type="text" id="userEmail">
			</label>
			<label for="userPassword">Password
				<input type="password" id="userPassword">
			</label>
			<label for="submit">
				<input type="submit">
			</label>
		</form>
	</div>
	<!--section 3: Events / Active and Passed -->

	<!--section 4: Footer -->
	<button type="button" class="btn btn-success">Events</button>
	<button type="button" class="btn btn-primary">User</button>

</div>