<div ng-controller="UserEventsController as userEvents">
	
	<p>testing {{ userEvents.name }} testing</p>
	
	<h3>Welcome Back {{ userEvents.currentUser.$value }}</h3>

	<p>Here's what you missed...</p>

	<div>
		<h4>Pending Invitations:</h4>
	</div>
	<div>
		<h4>Events You're Hosting:</h4>
		<!--add custom directive to list all events-->
		{{ eventInfo.eventName }}
	</div>
	<div>
		<h4>Events You're Attending:</h4>
	</div>

	<div>
		<h4>Completed Events:</h4>
	</div>
	
	//testing framework
	<input ng-model="x" type="number">
    <input ng-model="y" type="number">
    <strong>{{z}}</strong>
    <!-- the value for ngClick maps to the sum function within the controller body -->
    <input type="button" ng-click="sum()" value="+">

</div>