<div class="container-fluid" ng-controller='UserInformationController as userInformation'>
	
	<!--Page Explained-->
	<div class="row">
		<div ng-if='userInformation.dataLoaded()' class="col-xs-12 col-sm-12">
			<h3>Welcome {{ userInformation.userName }} </h3>
		</div>
		<div class="col-xs-12 col-sm-12">
			<h3>Optional Biographical Information</h3>
			<p>If you'd like to tell us a little more about yourself please do, if not just move on with the link at the bottom!</p>
		</div>
	</div>

	<!--Gather Optional Data: Work-->
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<h4>Work</h4>
			<label for="company">Company:
				<input 	name='company'
						type="text" 
						id='employerName' 
						class='inputText' 
						ng-model='userInformation.user.company' 
						ng-change='userInformation.checkValues()' 
						placeholder='e.g. Google, Facebook, etc'>
			</label>
			<label for="jobTitle">Job Title:
				<input 	name='jobTitle'
						type="text" 
						id='jobTitle' 
						class='inputText' 
						ng-model='userInformation.user.title' 
						ng-change='userInformation.checkValues()' 
						placeholder='e.g. Desk Jocky, Dental Hygenist'>
			</label>
		</div>
	</div>

	<!--Gather Optional Data: Personal-->
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<h4>Personal</h4>
			<label for="birthday">Birhtday:
				<input 	name='birthday'
						type="datetime-local" 
						id='birthday' 
						class='inputText' 
						ng-model='userInformation.tempBirthday' 
						ng-blur='userInformation.updateDOB()'
						ng-change='userInformation.checkValues()' 
						>
			</label>
		</div>
	</div>
	<br>

	<!--Move On to user Events-->
	<div class="row">
		<div 	class="col-xs-12 col-sm-12" 
				ng-class='userInformation.view.proceedBtn' 
				ng-click='userInformation.saveAndMoveOn()'>
				{{ userInformation.view.btnMssg }}
		</div>
	</div>

	<!--Required Data: Name & email-->
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<h4>Required</h4>
			<label for="name">Name:
				<input 	name='name'
						autofocus
						type="text" 
						id='name' 
						class='inputText' 
						ng-model='userInformation.user.name' 
						>
			</label>
			<label for="email">E-mail:
				<input 	name='email'
						type="email" 
						id='email' 
						class='inputText' 
						ng-model='userInformation.user.email'>
			</label>
		</div>
	</div>
</div>