<div class="container-fluid" ng-controller='UserEventsController as theUserEvents'>

<!--Welcome them-->
<div class="row">
	<h3>Hey {{ theUserEvents.userBio.name }}</h3>
	<p>What would you like to do?</p>
</div>
<!--Allow them to create a new event-->
<div class="row">
	<div 	class="col-xs-12 col-sm-12 btn btn-primary" 
			ng-click='theUserEvents.createNewEvent()'>
			Create A New Event</div>
</div>

<!--If they have been invited to an event, but haven't RSVPed: show pending invitions-->
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<h4>Pending Invitations</h4>
		<p ng-if='theUserEvents.sectionAvailable.pending'>Swipe left to decline the invitation.</p>
		<p ng-if='!theUserEvents.sectionAvailable.pending'>You don't have any pending Invitaions.</p>
		<table class="table table-striped table-hover table-border eventSnapshot" ng-if='theUserEvents.eventInvitationsPending()'>
			<thead>
				<tr>
					<th class="col-xs-3 col-sm-3">DATE</th>
					<th class="col-xs-6 col-sm-6">EVENT</th>
					<th class="col-xs-3 col-sm-3">ACTION</th>
				</tr>				
			</thead>
			<tbody ng-repeat='host in theUserEvents.events.pending'>
				<tr ng-repeat='event in host' ng-if='event'>
					<td ng-if='!showDecline'>{{event.eventTimes.start | date: 'MMM, d' }}</td>
					<td ng-click='theUserEvents.redirectTo3rdPartyEvent(event, "pending")'>{{event.name}}</td>
					<td class='btn btn-primary col-xs-3 col-sm-3' ng-click='theUserEvents.acceptEventInvitation(event)' style='background-color:#428bca'>Accept</td>
					<td ng-if= 'theUserEvents.showDecline' class='btn btn-warning col-xs-3 col-sm-3' ng-click='theUserEvents.declineEventInvitation(event)' style='background-color:#428bca'>Decline</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!--If they have been invited to an event & have RSVPed: show events they're attending-->
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<h4>Events You're Attending</h4>
		<p ng-if='!theUserEvents.sectionAvailable.attending'>You aren't attending any events yet.</p>
		<table class="table table-striped table-hover table-border eventSnapshot" ng-if='theUserEvents.attendingEvents()'>
			<thead>
				<tr>
					<th class="col-xs-3 col-sm-3">DATE</th>
					<th class="col-xs-9 col-sm-9">EVENT</th>
				</tr>
			</thead>
			<tbody ng-repeat='host in theUserEvents.events.attending'>
				<tr ng-repeat='event in host' ng-if='host'>
					<td>{{event.eventTimes.start | date: 'MMM, d' }}</td>
					<td ng-click='theUserEvents.redirectTo3rdPartyEvent(event, "attending")'>{{event.eventTimes.start | date: 'h:mm a'}} - {{event.name}}</td>
			</tbody>
		</table>
	</div>
</div>

<!--If they are hosting events, show the events they're hosting-->
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<h4>Events You're Hosting</h4>
		<p ng-if='!theUserEvents.sectionAvailable.hosting'>You're not hosting any upcoming events.</p>
		<div ng-if='theUserEvents.sectionAvailable.hosting'>
			<hosted-events-list 
				hosted-events='theUserEvents.events.hosting'
				user-id='theUserEvents.userBio.uid'>
			</hosted-events-list>
		</div>
	</div>
</div>
</div>
