<div ng-controller='UserEventsController as userEvents'>
	
	<div class='container-fluid'>
		<h3>Welcome Back {{ userEvents.currentUser.firstname }}</h3>
		<p>Here's what you missed...</p>
	</div>

	<div class='container-fluid'>
		<h4>Pending Invitations:</h4>
		<p class='footNote'>Swip event left to decline invitation</p>
		<div ng-repeat='event in userEvents.pendingInvitations'>
			<pending-invitations an-event="event"></pending-invitations>
		</div>
	</div>

	<div class='container-fluid'>
		<h4>Events Attending:</h4>
		<div ng-repeat='event in userEvents.eventsAttending'>
			<to-be-attended-functions an-event='event'></to-be-attended-functions>
		</div>
	</div>

	<div class='container-fluid'>
		<h4>Events Hosting:</h4>
		<div ng-repeat="event in userEvents.eventsHosting">
			final test
			<!--<hosted-events-list an-event='event' attendance-count='countAttendance()' launch-event-details='launchEventDetails(event.id)'></hosted-events-list>-->
		</div>
	</div>

	<div class='container-fluid'>
		<h4>Completed Events:</h4>
	</div>

</div>