<div>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<label for="inviteeName">Name:
			<span ng-if="vm.showNameError()" style='color: red; background-color: rgba(255,255,255,0.5)'>{{ vm.validations.name.errorMessage }}</span>
				<input 	type="text" 
						id='inviteeName' 
						class='inputField' 
						ng-model='vm.tempGuest.name' 
						ng-change='vm.validateName()'
						ng-blur='vm.validateName()'
						placeholder='F. Scott Fitzgerald'
						required
						focus-me='true'>
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<label for="inviteeEmail">Email:
				<span ng-if="vm.showEmailError()" style='color: red; background-color: rgba(255,255,255,0.5)'>{{ vm.validations.email.errorMessage }}</span>
				<input 	type="email" 
						ng-model='vm.tempGuest.email' 
						class='inputField' 
						ng-blur='vm.validateEmail()' 
						ng-style='' 
						placeholder='f.scott@fitzgerald.com'
						required>
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div 	ng-class="vm.submissionButton.class" 
					ng-click='vm.submitGuestInvitation()'>
						{{ vm.submissionButton.message }}
			</div>
		</div>
	</div>
	<!--Invitaion Error Message -->
	<span class="alert alert-danger col-xs-12 col-sm-12 fade in" ng-if='vm.showInvitationError()'>
		<strong>Error: </strong>{{ vm.validations.invitation.errorMessage  }}
	</span>
</div>